body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("https://images6.alphacoders.com/651/651486.png") center/cover;
  height: 90vh;
  padding: 32px 64px;
}
.hero-content {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: center;
  gap: 25px;
}
.hero-text {
  max-width: 500px;
}
.hero-text h1 {
  font-size: 70px;
  margin-bottom: 20px;
}
.hero-text p {
  line-height: 1.5;
  margin-bottom: 30px;
}
.hero-poster img {
  width: 300px;
  border-radius: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.hero-button-container {
  display: flex;
  gap: 20px;
}
.hero-button-container button {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-watch {
  background-color: #e50914;
  color: white;
  transition: 0.2s;
  font-weight: bold;
}
.btn-watch:hover {
  background-color: #b20710;
}
.btn-info {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
.btn-info:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
