.info-section {
  display: flex;
  padding: 40px 50px 40px 100px;
  height: 85vh;
  width: 100%;
}
.info-container {
  padding: 32px 32px;
  margin-left: 48px;
  display: inline-block;
  width: 100%;
}
.info-container h1 {
  font-size: 64px;
  margin-bottom: 20px;
}
.info-container #watch-btn {
  background-color: var(--grey-one);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s ease;
}
.info-container #watch-btn:hover {
  background-color: var(--grey-two);
}
.info-container p {
  margin: 24px 0px 24px 0px;
  padding-right: 100px;
  text-align: justify;
  font-weight: 500px;
  font-size: 20px;
  line-height: 1.5;
}
.info-container #release-date {
  color: var(--grey-three);
}
.poster {
  overflow: hidden;
  height: auto;
  min-height: 600px;
  min-width: fit-content;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 14px;
  transition: 0.3s ease;
  box-shadow: var(--box-shadow);
  padding: 0px;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease;
}
.poster img:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}
.tag-container {
  display: flex;
  gap: 12px;
  width: 25%;
}
.tag-container .tag {
  background-color: var(--grey-one);
  border: 2px solid var(--grey-two);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 18px;
}
#character-name {
  color: var(--grey-three);
  font-size: 16px;
}
