* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#logo {
  position: absolute;
  top: 40px;
  left: 40px;
}
#logo h1 {
  color: white;
}
#logo span {
  color: red;
}
.container {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("../img/cinema2.jpg") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 82px 0px 82px 0px;
}
.form {
  background-color: rgba(0, 0, 0, 0.576);
  height: auto-fit;
  width: 80%;
  padding: 72px;
  max-width: 500px;
  flex: 1;
  border-radius: 8px;
}
.form h1 {
  color: white;
  margin-bottom: 32px;
  font-size: 50px;
}
.form .inputField {
  border: none;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  background-color: rgb(50, 50, 50);
  color: white;
  transition: 0.2s ease;
}
.form .inputField::placeholder {
  color: rgb(141, 141, 141);
}
.form .inputField:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
}
.form #terms {
  transform: scale(1.5);
  cursor: inherit;
}
.form #termsBox {
  margin-bottom: 20px;
  cursor: pointer;
}
.form #termsLabel {
  color: white;
  font-size: 18px;
  cursor: inherit;
}
.form #submitBtn {
  display: inline;
  background-color: red;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 40px;
  cursor: pointer;
  transition: background 0.2s;
}
.form #submitBtn:hover {
  background-color: rgb(165, 0, 0);
}
.form #login-link {
  color: white;
  font-weight: normal;
  font-size: 18px;
}
.form #login-link a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.form #login-link a:hover {
  color: red;
}
